.KnowledgeContainer{
    display: flex;
    gap: 10px;
    
}

.knowledgeLeftSide{
    flex: 2.5;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
    border: 1px solid white;
}

.knowledgeRightSide{
    flex: 1;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
}