.NotificationBoxFollowup{
    display: flex;
    gap: 10px;  
    padding: 10px;
    background-color: #36454f;
    border-radius: 10px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6), 0 -6px 20px rgba(255, 140, 0, 0.02) inset;
    gap: 10px;
    BORDER: 2PX SOLID BLACK;
}

.NotificationBoxLeft{
    flex: 1;
       background: rgba(0, 0, 0, 0.52);
    border-radius: 10px;
    padding: 10px;  
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
        border: 1px solid rgba(255, 140, 0, 0.06);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6), 0 -6px 20px rgba(255, 140, 0, 0.02) inset;
    backdrop-filter: blur(4px);
    

}

.NotificationBoxRight
{
    flex: 1;
       
    border-radius: 10px;
    padding: 10px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 90vh;
    overflow: hidden;
        background: rgba(0, 0, 0, 0.52);
        border: 1px solid rgba(255, 140, 0, 0.06);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6), 0 -6px 20px rgba(255, 140, 0, 0.02) inset;
    backdrop-filter: blur(4px);
}

.NotificationImg{
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    object-fit: cover;
    padding: 3px;
    border: 2px solid orange;
}

.NotificationFollowupItem
{
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px;
    background-color: #2c2f33;
    color: skyblue;
    border-radius: 10px;
    margin: 0px;
    background: #150051;
    border: 2px solid #294c64;
}

.NotificationFollowupList{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: scroll;
    height: 90vh;
}



.NotificationText{
    flex: 3;
}

.NoticationEnd{
    flex: 0.5;
    
}
