.friendStatusContainer{
    display: flex;
    gap: 10px;
    
    background-color: #36454f;
    padding: 10px;
}

.friendInviteStatusLeft{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
        padding: 10px;
    background: rgba(0, 0, 0, 0.52);
    border-radius: 12px;
    border: 1px solid rgba(255, 140, 0, 0.06);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6), 0 -6px 20px rgba(255, 140, 0, 0.02) inset;
    backdrop-filter: blur(4px);
    height: fit-content;
    
}

.friendInviteStatusLeft2{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
        padding: 10px;
    background: rgba(0, 0, 0, 0.52);
    border-radius: 12px;
    border: 1px solid rgba(255, 140, 0, 0.06);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6), 0 -6px 20px rgba(255, 140, 0, 0.02) inset;
    backdrop-filter: blur(4px);
    height: fit-content;
}

.freindInviteStatusRight2{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;  /* Center children horizontally */
    gap: 10px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.52);
    border-radius: 12px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6), 0 -6px 20px rgba(255, 140, 0, 0.02) inset;
    backdrop-filter: blur(4px);
    height: fit-content;
    border: 1px solid white;
}


.freindInviteStatusRight{
    flex: 1.7;
    display: flex;
    flex-direction: column;
    align-items: center;  /* Center children horizontally */
    gap: 10px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.52);
    border-radius: 12px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6), 0 -6px 20px rgba(255, 140, 0, 0.02) inset;
    backdrop-filter: blur(4px);
    height: fit-content;
    border: 1px solid white;
}


.friendInviteStatusLeftButtons,.friendInviteStatusRightButtons{
    width: 100%;
    display: flex;
    align-items: center;
}

.friendInviteStatusLeftButton,.friendInviteStatusRightButton{
    padding: 10px;
    width: 50%;
    font-weight: bold;
    color: darkslategray;
    background-color: white;
   
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.friendInviteStatusLeftButtons > .friendInviteStatusLeftButton:not(:last-child) ,.friendInviteStatusRightButtons > .friendInviteStatusRightButton:not(:last-child){
  border-right: 1px solid orange;
}

.friendInviteStatusLeftButtons > .friendInviteStatusLeftButton:first-child,.friendInviteStatusRightButtons > .friendInviteStatusRightButton:first-child {
  /* styles only the first .HomeButton */
   border-radius: 10px 0 0 10px;
}

.friendInviteStatusLeftButtons > .friendInviteStatusLeftButton:last-child,.friendInviteStatusButtons > .friendInviteStatusRightButton:last-child{
  /* styles only the first .HomeButton */
 border-radius: 0px 10px 10px 0px;
}

.ActiveButton{
    background-color: orange;
    background-color: red;
    color: white;
    transition: all 0.3s;
}

.ActiveSubButton{
    background: linear-gradient(to bottom, orange, #af5f14) !important;
    border: 2px solid orange !important;
    color: white !important;
    transition: all 0.3s;
}

.FriendImage{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
    border-radius: 8px;  /* Optional: adds rounded corners */
        /* Optional: adds some space at the top */
}

.FriendDetails{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    background-color: #36454f;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    color: #ffab40;
    font-weight: 600;
    font-size: 13px;
    border-radius: 8px;
}

.FriendDetail{
    background: rgba(0, 0, 0, 0.52);
    display: inline-block;
    border-radius: 10px;
    width: fit-content;
    padding: 5px;
}