.toggle-switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 23px;
}

/* hide the default checkbox */
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  background: linear-gradient(to bottom, #ccc, #6b6161);
    border: 1px solid #ccc;
  border-radius: 24px;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 2.8px;
    background-color: white;
    background: linear-gradient(to bottom, #27a7ff, #112637);
    border: 1px solid #294c64;
    border-radius: 50%;
    transition: transform 0.3s;
}

/* when checked, change background and move the circle */
.toggle-switch input:checked + .slider {
  background-color: orange;
  background: linear-gradient(to bottom, #FF9800, #915d11);
    border: 1px solid #FFC107;
}

.toggle-switch input:checked + .slider::before {
  transform: translateX(21px);
}
