.NodataImg{
    width: 200px;
    height: 200px;
}


.NodataImgBig{
    width: 400px;
    height: 400px;
}

.NodataText{
    color: white;
    font-size: 17px;
    margin-top: 20px;
    font-weight: bold;
    background-color: orange;
    border-radius: 10px;
    background: linear-gradient(to bottom, #294c64, #112637);
    border: 2px solid #294c64;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    padding: 10px;

}

.NodataContainer{
    display: flex;
    height: 100vh;
    background-color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    

}