.MenuContainer{
    flex : 0.8;
    min-height: 90vh;
    background-color: #36454f;
    color: orange;
    padding: 5px;
    padding-top: 20px;
}

.MenuItems{
    margin: 0;
    padding: 0;
    list-style: none;
}

.MenuItem{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 3px;
    color: orange;
    font-size: 13px;
    border-left: 1px solid orange;
    border-radius: 4px;
    font-weight: bold;
    text-decoration: none;
}
.Active{
    background-color: orange;
    color: white;
    transition: all 0.3s;
}

.Horiline{
    background-color: orange;
    margin-top: 15px;
    margin-bottom: 15px;
}

.MenuSocial{
    color: gray;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;

}