.expertContainerrSelectButtons{

    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;


}

.expertContainerSelectButton{
    padding: 10px;
    width: 49%;
    border: none;
    font-size: 10px;
    font-weight: bold;
    border-radius: 10px;
}

