/* .Selected{
    border: 2px solid orange !important;
} */

.Selected {
  padding: 20px;
  background: white; /* INSIDE BG PERFECTLY SAFE */
  border-radius: 12px;

  /* fake gradient border */
  position: relative;
  box-shadow: 0 10px 30px rgb(0 0 0), 0 -6px 20px rgb(64 178 240 / 55%) inset;
}

.Selected::before {
  content: "";
  position: absolute;
   --angle: 0deg;
  inset: 0;
  padding: 3px; /* border thickness */
  margin: -2px;
  border-radius: inherit;
  background: linear-gradient(var(--angle), #7b35c3, #08f3ff);
  -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  pointer-events: none;
  animation: rotate-gradient 4s linear infinite;
}

.Selected::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px;
  margin: -2px;
  border-radius: inherit;

  background: linear-gradient(45deg, #7b35c3, #08f3ff);
  background-size: 400% 400%;
  animation: moveGradient 3s linear infinite;

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  pointer-events: none;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes rotate-gradient {
  0%   { --angle: 0deg; }
  25% { --angle: 90deg; }
  50%  { --angle: 180deg; }
  75%  { --angle: 270deg; }
  100% { --angle: 360deg; }
}
