.expertTrackContainer{
    display: flex;
    gap: 10px;
}

.expertTrackcontainerLeft{
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.expertTrackContainerRight{
    flex : 7;
    box-sizing: border-box;
    display: flex;
     flex-direction: column;
    gap: 10px;
} 

.expertTrackContainerLeftButton,.expertTrackContainerRightButton{
    padding: 10px;
    background-color: white;
    color: darkslategray;
    width: 50%;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    font-size: 13px;
}

.expertTrackContainerLeftButtons,.expertTrackContainerRightButtons{
    display: flex;
    width: 100%;
}

.expertTrackContainerLeftButtons > .expertTrackContainerLeftButton:not(:last-child) ,.expertTrackContainerRightButtons > .expertTrackContainerRightButton:not(:last-child){
  border-right: 1px solid orange;
}

.expertTrackContainerLeftButtons > .expertTrackContainerLeftButton:first-child,.expertTrackContainerRightButtons > .expertTrackContainerRightButton:first-child {
  /* styles only the first .HomeButton */
   border-radius: 10px 0 0 10px;
}

.expertTrackContainerLeftButtons > .expertTrackContainerLeftButton:last-child,.expertTrackContainerRightButtons > .expertTrackContainerRightButton:last-child{
  /* styles only the first .HomeButton */
 border-radius: 0px 10px 10px 0px;
}

.ActiveButton{
    background-color: orange;
    color: white;
    transition: all 0.3s;
}


.expertTrackContainerLists{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: scroll;
    height: 90vh;  
}

.expertTrackContainerLists2{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: scroll;
    height: 90vh;  
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.chooseBox{
    position: relative;
    
    top: -0px;
    z-index: 1;
    display: flex;
    gap: 10px;
    font-size: 13px;
    font-weight: bold;
    justify-content: center;
    gap:5px;
    
    
    font-variation-settings: "wdth" 75;
}

.All{
    color: orange;
    background: #935f00;
    border: 1px solid;
    display: flex;
    align-items: center;
    gap:5px
}

.Accepted{
    color: rgb(56, 202, 56);
    background: rgb(51, 128, 7);
    border: 1px solid;
  

}

.Rejected{
    color: red;
    background: rgba(203, 0, 0, 0.67);
    border: 1px solid;
    
}

.unSelected{

    color: white;
    background: #9a9494a6;
    border: 1px solid;
    display: flex;
    align-items: center;
    gap: 5px;
}

.All,.Accepted,.Rejected,.unSelected
{
    display: flex;
    justify-content: center;
    font-size: 12px;
        font-variation-settings: "wdth" 70;
     border-radius: 3px;
     padding: 3px;
    flex: 1;
     font-weight: bold;
     border-radius:4px
}

.categoryListItems{
     list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    height: 60vh;  
}




.expertTrackContainerListItem{
    width: 100%;
    background-color: #294c64;
    background: linear-gradient(to bottom, #294c64, #112637);
    border: 2px solid #294c64;
    border-radius: 10px;
    padding: 10px;
     box-sizing: border-box;
     display: flex;
     justify-content: space-between;

     color: white;
}

.expertTrackContainerListItemRight{
    width: 100%;
    background-color: #294c64;
    background: linear-gradient(to right, #294c64, #112637);
    border: 2px solid #294c64;
    border-radius: 10px;
    padding: 10px;
     box-sizing: border-box;
     display: flex;
     justify-content: space-between;

     color: white;
}

/* .Selected{
    border: 2px solid orange;
       
    
    
} */

.cateorgyListItem{
    width: 100%;
    background-color: #294c64;
        background: linear-gradient(to right, #294c64, #112637);
    border: 2px solid #294c64;
    border-radius: 10px;
    padding: 10px;
     box-sizing: border-box;
     display: flex;
     justify-content: space-between;
}

.expertTrackOwnerDetails{
    display: flex;
    gap: 10px;
    align-items: center;
    
}

.categoryHomeDetailsInternal{
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    
    font-size: 13px !important;
}

.expertTrackOwnerprofileImg{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    padding: 3px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6), 0 -6px 20px rgba(255, 140, 0, 0.02) inset;
        background: linear-gradient(to right, #294c64, #112637);
    border: 2px solid orange;
    
}

.red{
    border: 2px solid red;
}

.green{
    border: 2px solid lightgreen;
}

.gray{
    border: 2px solid #ccc;
}

.catgoryImg{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover; 
}



.expertTrackOwnerNameAndDesignation,.expertTrackOwnerNameAndDesignationRight{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.expertTrackOwnerNameAndDesignation2{
    display: flex;
    
    gap: 3px;
}

.expertTrackOwnerprofileBadge{
    height: 50px;
    width: 50px;
}

.expertTrackOwnerLeftDetails{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap : 10px;

}

.expertTrackOwnerLeftFollowers,.expertTrackOwnerFollow{
    display: flex;
    align-items: center;
    gap: 3px;
}

.expertTrackOwnerLeftFollowers{
   color: orange;
   padding: 3px;
   font-size: 13px;
   font-weight: bold;
   background: linear-gradient(to bottom, #112637, #294c64);
   border-radius: 10px;
   border: 2px solid #294c64;
       box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6), 0 -6px 20px rgba(255, 140, 0, 0.02) inset;
    backdrop-filter: blur(4px);
     font-variation-settings:
    "wdth" 75;
    display: flex;
    flex-direction: column;
    gap: 0px;
    line-height: 8px;
  
}

.expertTrackOwnerFollow{
    background: linear-gradient(to bottom, red, #742a2a);
    border: 1px solid red;
    color: white;
    padding: 3px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
}

.communityFollow{
     background: linear-gradient(to bottom, orange, #af5f14) !important;
    border: 2px solid orange !important;
    color: white !important;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 3px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
}

