.expertTrackContainer{
    display: flex;
    gap: 10px;
}

.expertTrackcontainerLeft{
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.expertTrackContainerRight{
    flex : 7;
    box-sizing: border-box;
    display: flex;
     flex-direction: column;
    gap: 10px;
} 

.expertTrackContainerLeftButton,.expertTrackContainerRightButton{
    padding: 10px;
    background-color: white;
    color: darkslategray;
    width: 50%;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    font-size: 13px;
}

.expertTrackContainerLeftButtons,.expertTrackContainerRightButtons{
    display: flex;
    width: 100%;
}

.expertTrackContainerLeftButtons > .expertTrackContainerLeftButton:not(:last-child) ,.expertTrackContainerRightButtons > .expertTrackContainerRightButton:not(:last-child){
  border-right: 1px solid orange;
}

.expertTrackContainerLeftButtons > .expertTrackContainerLeftButton:first-child,.expertTrackContainerRightButtons > .expertTrackContainerRightButton:first-child {
  /* styles only the first .HomeButton */
   border-radius: 10px 0 0 10px;
}

.expertTrackContainerLeftButtons > .expertTrackContainerLeftButton:last-child,.expertTrackContainerRightButtons > .expertTrackContainerRightButton:last-child{
  /* styles only the first .HomeButton */
 border-radius: 0px 10px 10px 0px;
}

.ActiveButton{
    background-color: orange;
    color: white;
    transition: all 0.3s;
}


.expertTrackContainerLists{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    height: 90vh;  
}

.expertTrackContainerLists2{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    height: 90vh;  
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

.categoryListItems{
     list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    height: 60vh;  
}




.expertTrackContainerListItem{
    width: 100%;
    background-color: #294c64;
    background: linear-gradient(to bottom, #294c64, #112637);
    border: 2px solid #294c64;
    border-radius: 10px;
    padding: 10px;
     box-sizing: border-box;
     display: flex;
     justify-content: space-between;

     color: white;
}

.Selected{
    border: 2px solid orange;
       
    
    
}

.cateorgyListItem{
    width: 100%;
    background-color: #294c64;
        background: linear-gradient(to bottom, #294c64, #112637);
    border: 2px solid #294c64;
    border-radius: 10px;
    padding: 10px;
     box-sizing: border-box;
     display: flex;
     justify-content: space-between;
}

.expertTrackOwnerDetails{
    display: flex;
    gap: 10px;
    align-items: center;
    
}

.categoryHomeDetailsInternal{
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    font-size: 13px !important;
}

.expertTrackOwnerprofileImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    padding: 3px;
    border: 2px solid orange;
    
}

.catgoryImg{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover; 
}



.expertTrackOwnerNameAndDesignation{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.expertTrackOwnerLeftDetails{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap : 10px;
    width: 40%;
}

.expertTrackOwnerLeftFollowers,.expertTrackOwnerFollow{
    display: flex;
    align-items: center;
    gap: 3px;
}

.expertTrackOwnerLeftFollowers{
   color: orange;
   padding: 3px;
   font-size: 13px;
   font-weight: bold;
   background: linear-gradient(to bottom, #112637, #294c64);
   border-radius: 10px;
   border: 2px solid #294c64;
       box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6), 0 -6px 20px rgba(255, 140, 0, 0.02) inset;
    backdrop-filter: blur(4px);
     font-variation-settings:
    "wdth" 75;
    display: flex;
    flex-direction: column;
    gap: 0px;
    line-height: 8px;
  
}

.expertTrackOwnerFollow{
    background: linear-gradient(to bottom, red, #742a2a);
    border: 1px solid red;
    color: white;
    padding: 3px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
}

