

.main-wrapper2 {

    width: fit-content;
    text-align: center;
    border-radius: 10px;
    /* border: 2px solid #294c64; */
    padding: 5px;
    /* background: linear-gradient(to bottom, #112637, #294C65); */
}

.badge2 {
position: relative;
    /* margin: 1.5em 3em; */
    width: 2.5em;
    height: 2em;
    border-radius: 10px;
    display: inline-block;
    top: 0;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 17.6), 0px -11px 20px rgb(102 56 0 / 0%) inset;
    transition: all 0.2s ease;
}
.badge2:before, .badge2:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.badge2:before {
  transform: rotate(60deg);
}
.badge2:after {
  transform: rotate(-60deg);
}
.badge2:hover {
  top: -4px;
}
.badge2 .circle {
    width: 25px;
    height: 25px;
    position: absolute;
    background: #fff;
    z-index: 10;
    border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.badge2 .circle i.fa {
  font-size: 2em;
}
.badge2 .font {
  display: inline-block;
  margin-top: 1em;
}
.badge2 .ribbon {
    position: absolute;
   position: absolute;
    border-radius: 4px;
    padding: 3px 2px 3px;
    width: 43px;
    z-index: 11;
    color: white;
    /* border: 1px solid yellow; */
    bottom: -3px;
    left: 38%;
    margin-left: -20px;
    height: 7px;
    font-weight: bold;
    letter-spacing: 0.09px;
    font-size: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.27);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    background: linear-gradient(to bottom right, #555 0%, #333 100%);
    font-variation-settings: "wdth" 70;
    cursor: default;
}

.yellow {
  background: linear-gradient(to bottom right, #ffeb3b 0%, #FF9800 100%);
  color: #ffb300;
}

.orange {
  background: linear-gradient(to bottom right, #ffc107 0%, #f57c00 100%);
  color: #f68401;
}

.pink {
  background: linear-gradient(to bottom right, #f48fb1 0%, #d81b60 100%);
  color: #dc306f;
}

.red2 {
  background: linear-gradient(to bottom right, #f4511e 0%, #b71c1c 100%);
  color: #c62828;
}

.purple {
  background: linear-gradient(to bottom right, #ab47bc 0%, #4527a0 100%);
  color: #7127a8;
}

.teal {
  background: linear-gradient(to bottom right, #4db6ac 0%, #00796b 100%);
  color: #34a297;
}

.blue {
  background: linear-gradient(to bottom right, #4fc3f7 0%, #2196f3 100%);
  color: #259af3;
}

.blue-dark {
  background: linear-gradient(to bottom right, #1976d2 0%, #283593 100%);
  color: #1c68c5;
}

.green2 {
  background: linear-gradient(to bottom right, #cddc39 0%, #8bc34a 100%);
  color: #7cb342;
}

.green-dark {
  background: linear-gradient(to bottom right, #4caf50 0%, #1b5e20 100%);
  color: #00944a;
}

.silver {
  background: linear-gradient(to bottom right, #e0e0e0 0%, #bdbdbd 100%);
  color: #9e9e9e;
}

.gold {
  background: linear-gradient(to bottom right, #e6ce6a 0%, #b7892b 100%);
  color: #b7892b;
}

footer {
  text-align: center;
  margin: 5em auto;
}
footer a {
  text-decoration: none;
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #111;
  border: 0.5px dashed #f8f8f8;
  color: #999;
  margin: 5px;
}
footer a:hover {
  background: #222;
}
footer a .icons {
  margin-top: 12px;
  display: inline-block;
  font-size: 20px;
}