.HomeContainer{
    display: flex;
    gap: 10px;
    box-sizing: border-box;
}

.HomeButtons{
    width: 100%;
    display: flex;
    


}

.HomeLeftPage{
    flex: 6;
}




.HomeRecommended{
    flex: 3;
    height: 100vh;
}

.HomeRecommendedHeading{
    background-color: orange;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.HomeButton{
    width: 20%;
    border: none;
    padding: 10px;
    color: darkslategray;
    font-weight: bold;
    display: block;
    width: 20%;
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    background-color: white;    
    
}



.HomeButtons > .HomeButton:not(:last-child) {
  border-right: 1px solid orange;
}


.HomeButtons > .HomeButton:first-child {
  /* styles only the first .HomeButton */
   border-radius: 10px 0 0 10px;
}

.HomeButtons > .HomeButton:last-child {
  /* styles only the first .HomeButton */
 border-radius: 0px 10px 10px 0px;
}

.ActiveButton{
    background-color: orange;
    color: white;
    transition: all 0.3s;
}

.HomeQuery{
    width: 100%;
    height: 90vh;
    margin-top: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    

}


.HomeQueryImgProfile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.HomeQueryHeading{

    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
     background-color: #36454f;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid orange;
}

.HomeUrFollower{
    background-color: orange;
    color: white;
    padding : 1px;
    border-radius: 4px;
    font-size: 13px;
}

.HomeUrContribution{
        background-color: green;
    color: white;
    padding: 1px;
    border-radius: 4px;
    font-size: 13px;
}

.HomeUrFriend{
            background-color: rgb(128, 0, 0);
    color: white;
    padding: 1px;
    border-radius: 4px;
    font-size: 13px;
}

.HomeUrFollower,.HomeUrFriend,.HomeUrContribution{
    display: flex;
    align-items: center;
    gap: 5px;
}

.HomeQueryNameAndImg{
    display: flex;
    gap: 10px;
    align-items: center;
}

.HomeContriButionAndFollowers{
    display: flex;
    align-items: center;
    gap:10px;
    width: fit-content;
}

.HomeQueryNameSection{
    display: flex;
    flex-direction: column;
}

.HomeQueryDesign{
    font-size: 12px;
    font-weight: 200;
      font-variation-settings:
    "wdth" 75;
}


.HomeQueryTextInputs{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    
}


.HomeQueryTextInputsWrapper{
    width: 450px;
    border: 1px solid orange;
    padding: 10px;
    border-radius: 10px;
}


.textbox {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid orange;
  border-radius: 5px;
  background-color: darkslategrey;
  color: white;
  outline: none;

}

.textbox::placeholder{
    color: white;
    font-weight: 500;
    font-style: normal;
}

.HomeQueryShortDesc{
    padding: 5px;
    border: 1px solid orange;
    background-color: orange;
    color: darkblue;
    font-size: 13px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 10px;
    width: 100%;
    font-weight: 500;
    box-sizing: border-box;
}


.HomeQueryCategory{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: darkslategrey;
    border: 1px solid orange;
    color: white;
    outline: none;
}

.HomeQueryCategoryAndLabel{
    display: flex;
    gap: 10px;
}

.HomeQueryInfo{
    font-size: 12px;
     background-color: #36454f;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid orange;
    color: white;
    display: flex;
    align-items: center;
    gap : 10px;
    width: fit-content
}

.HomeQueryCategoryCreate{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: white;
    font-weight: bold;
    font-size: 13px;
    color: darkslategray;
    border-radius: 10px;
    border: 1px solid white;
    min-width: 200px
}


.HomeRecommendedQuestion{
    background-color: #36454f;
    color: lightskyblue;
    display: flex;
    border: 1px solid orange;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.HomeRecommendedQuestionPara{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 5px;
}

.HomeRecommendedQuestionParaImg{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid darkslategray;
}

.HomeQueryPostSection{
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;
    height: 80vh;
}

.HomeQueryPost{
    
    background-color: #36454f;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid orange;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
}

.HomeQueryTopSectionProfileAndImg{
    display: flex;
    align-items: center;
    gap: 10px;

}

.HomeQueryTopSectionImg{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.HomeQueryTopSectionProfileDetail{
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-weight: 500;
}

.HomeQueryTopSectionProfileDesignation{
    font-size: 12px;
    font-weight: 100;
    font-variation-settings: "wdth" 75;
}

.PostHoriline{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.HomeQueryTopSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.HomeQueryMidSectionRightShortDesc{
    color: skyblue;
}


.HomeQueryMidSectionLogo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.HomeQueryMidSection{
    display: flex;
    align-items: center;
    gap: 10px;
}

.HomeQueryEndSection{
    display: flex;
    justify-content: space-between;

}

.HomeQueryEndSectionLeft{
    display: flex;
    gap: 20px;
}

.HomeQueryEndSectionRight{
    display: flex;
    padding: 3px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    color: orange;
}

.HomeQueryEndSectionNumberCard{
       border: 1px solid orange;
    color: white;
    background-color: #343434;
    padding: 3px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}


.HomeQueryAndAns{
    width: 100%;
    height: 90vh;
    margin-top: 10px;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;



}

.HomeQueryAndAnsSection{
    width: 100%;
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;
    overflow: scroll;
 
}



.HomeQueryAndAnsPost,.HomeAnsPost,.HomeAnsPostComment{
    
    background-color: #36454f;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid skyblue;
    padding: 10px;
    color: white;
}

.HomeAnsPost,.HomeAnsPostComment{
    border-radius: 0px;
    border-color: orange;
}

.HomeQueryAnsSection{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.HomeQueryMidSectionAns{
    display: flex;
    align-items: center;
    gap: 10px;
    border-left: 4px solid green;
    border-radius: 10px;
    padding: 4px;
}

.HomeQueryMidSectionAnsComment{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 4px;
}

.negative{
   
    border-left: 4px solid red;
}


.HomeQueryCommentBar{

    width: 30px;
    background-color: orange;
    border-radius: 10px;
    font-weight: bold;
     height: 80%;
     display: flex;
     align-items: center;
     padding: 10px;
     color: darkslategray;
    
}

.HomeQueryCommentBarText{
  writing-mode: vertical-rl;        /* or vertical-lr */
  
  text-orientation: sideways-left;
}

