.HomeContainer{
    display: flex;
    gap: 10px;
    box-sizing: border-box;
    overflow-y: scroll;
}

.HomeButtons{
    width: 100%;
    display: flex;
    font-size: 13px;
    


}

.HomeLeftPage{
    flex: 6;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.HomeRecommendWrapper{
     flex: 3;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.HomeRecommended{
    flex: 3;
    height: 100vh;
    width: 100%;
}

.FriendsInnerContent{
    height: 100vh;
    width: 100%;
}

.HomeRecommendedHeading{
    background-color: #7b35c3;
    background: linear-gradient(to bottom, #7b35c3, #320060);
    border: 2px solid #7b35c3;
        background: linear-gradient(to right, #e91e1e, #290505);
    border: 1px solid #e91e1e;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    color: white;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
}

.HomeRecommendedHeading3{
 /* background-color: rebeccapurple; */
    /* background: linear-gradient(to bottom, #7b35c3, #320060); */
    /* border: 2px solid #7b35c3;
    border-radius: 10px; */
    display: flex;
        background-color: #000000;
    /* background: linear-gradient(to bottom, #7b35c3, #320060); */
    border: 1px solid #5c5c5c;
    border-radius: 10px;
    color: white;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    font-weight: bold;
}

.HomeRecommendedHeading2{
     display: flex;
    color: white;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    font-weight: bold;
    border: none;
}

.HomeButton{
    width: 20%;
    border: none;
    padding: 10px;
    color: darkslategray;
    font-weight: bold;
    display: block;
    width: 20%;
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    background-color: white;    
    
}



.HomeButtons > .HomeButton:not(:last-child) {
  border-right: 1px solid orange;
}


.HomeButtons > .HomeButton:first-child {
  /* styles only the first .HomeButton */
   border-radius: 10px 0 0 10px;
}

.HomeButtons > .HomeButton:last-child {
  /* styles only the first .HomeButton */
 border-radius: 0px 10px 10px 0px;
}

.ActiveButton{
    background-color: orange;
    color: white;

}

.HomeQuery{
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    background-color: black;

    

}


.HomeQueryImgProfile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.HomeQueryHeading{

    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
      background: linear-gradient(to bottom, #294c64, #112637);
    border: 2px solid #294c64;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    
}

.HomeUrFollower{
    background-color: orange;
    color: white;
    padding : 1px;
    border-radius: 4px;
    font-size: 13px;
}

.HomeUrContribution{
        background-color: green;
    color: white;
    padding: 1px;
    border-radius: 4px;
    font-size: 13px;
}

.HomeUrFriend{
    background-color: rgb(128, 0, 0);
    color: white;
    padding: 1px;
    border-radius: 4px;
    font-size: 13px;
}

.HomeUrFollower,.HomeUrFriend,.HomeUrContribution{
    display: flex;
    align-items: center;
    gap: 5px;
    background: linear-gradient(to bottom, #294c64, #112637);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6), 0 -6px 20px rgba(255, 140, 0, 0.02) inset;
    backdrop-filter: blur(4px);
    font-size: 12px;
    border: 2px solid #294c64;
    font-variation-settings: "wdth" 70;

}

.HomeQueryNameAndImg{
    display: flex;
    gap: 10px;
    align-items: center;
}

.HomeContriButionAndFollowers{
    display: flex;
    align-items: center;
    gap:10px;
    width: fit-content;
}

.HomeQueryNameSection{
    display: flex;
    flex-direction: column;
}

.HomeQueryDesign{
    font-size: 12px;
    font-weight: 200;
      font-variation-settings:
    "wdth" 75;
}


.HomeQueryTextInputs{
    
    display: flex;
    justify-content: center;
    gap: 10px;
}


.HomeQueryTextInputsWrapper{
    width: 450px;
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.categoryHomeListItems{
    flex: 1;
     display: flex;
     gap: 10px;
     flex-direction: column;
    
}

.categoryContainerListItems{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 72vh;
    overflow-y: scroll;
     overflow-x: hidden;
    margin: 0;
    padding: 0;
}


.textbox {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;

  border-radius: 5px;
  background-color: darkslategrey;
      background: #112637;  
  color: white;
  outline: none;

}

.textbox::placeholder{
    color: white;
    font-weight: 500;
    font-style: normal;
}

.HomeQueryShortDesc{
    padding: 10px;
    
    background-color: orange;
    color: darkblue;
    /* background: linear-gradient(to bottom, #294c64, #112637); */
    border: 2px solid #294c64;
    background-color: #7b35c3;
    background: linear-gradient(to bottom, #7b35c3, #320060);
    border: 2px solid #7b35c3;

    background: linear-gradient(to right, #e91e1e, #290505);
    border: 1px solid #e91e1e;
    color: white;
    font-size: 13px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    gap: 4px;

    width: 100%;
    font-weight: 500;
    box-sizing: border-box;
}


.HomeQueryCategory{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    /* margin-top: 10px; */
    margin-bottom: 10px;
    background-color: darkslategrey;
    
    color: white;
    outline: none;
}

.HomeQueryCategoryAndLabel{
    /* display: flex; */
    gap: 10px;
}

.HomeQueryInfo{
    font-size: 12px;
     background-color: #36454f;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    
    color: white;
    display: flex;
    align-items: center;
    gap : 10px;
    width: fit-content
}

.HomeQueryCategoryCreate{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: white;
    font-weight: bold;
    font-size: 13px;
    color: darkslategray;
    border-radius: 10px;
    border: 1px solid white;
    min-width: 200px
}


.HomeRecommendedQuestion{
    background-color: #294c64;
    background: linear-gradient(to bottom, #294c64, #112637);
    color: lightskyblue;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 3px solid #294c64;
}

.FriendsInnerContentSection{
        background-color: #36454f;
    color: lightskyblue;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

.HomeRecommendedQuestionPara{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 5px;
      font-variation-settings:
    "wdth" 70;
}

.HomeRecommendedQuestionParaImg{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid darkslategray;
}

.HomeQueryPostSection{
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;
    height: 80vh;
}

.HomeQueryPost{
    
    background: linear-gradient(to bottom, #294c64, #112637);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid #294c64;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
}

.HomeQueryTopSectionProfileAndImg{
    display: flex;
    align-items: center;
    gap: 10px;

}

.HomeQueryTopSectionImg{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid orange;
    padding: 3px;
}

.HomeQueryTopSectionProfileDetail{
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-weight: 500;
}

.HomeQueryTopSectionProfileDesignation{
    font-size: 12px;
    font-weight: 100;
    font-variation-settings: "wdth" 75;
}

.PostHoriline{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}

.HomeQueryTopSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.HomeQueryMidSectionRightShortDesc{
    color: skyblue;
    font-variation-settings:
    "wdth" 70;
}


.HomeQueryMidSectionLogo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6), 0 -6px 20px rgba(255, 140, 0, 0.02) inset;
}

.HomeQueryMidSection{
    display: flex;
    align-items: center;
    gap: 10px;
}

.HomeQueryEndSection{
    display: flex;
    justify-content: space-between;

}

.HomeQueryEndSectionLeft{
    display: flex;
    gap: 20px;
    font-size: 13px;
    color: orange;
}

.HomeQueryEndSectionRightContainer{
    display: flex;
    gap: 10px;
}

.HomeQueryEndSectionRight{
    display: flex;
    padding: 3px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    color: orange;
    font-size: 12px;
    cursor: pointer;
}

.HomeQueryEndSectionNumberCard{
      
    background-color: #343434;
    background: linear-gradient(to bottom, #294c64, #112637);
    border: 2px solid #294c64;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6), 0 -6px 20px rgba(255, 140, 0, 0.02) inset;
    backdrop-filter: blur(4px);
    padding: 3px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
}


.HomeQueryAndAns{
    width: 100%;
    height: 90vh;


    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;



}

.HomeQueryAndAnsSection{
    width: 100%;
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;
    overflow: scroll;
 
}



.HomeQueryAndAnsPost,.HomeAnsPost,.HomeAnsPostComment{
    
    background-color: #294c64;
    background: linear-gradient(to bottom, #294c64, #112637);
    border: 3px solid #294c64;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

.HomeAnsPost,.HomeAnsPostComment{
    border-radius: 0px;

}

.HomeQueryAnsSection{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.HomeQueryMidSectionAns{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    border-left: 4px solid green;
    border-radius: 10px;
    padding: 4px;
}

.HomeQueryMidSectionAnsComment{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 4px;
}

.negative{
   
    border-left: 4px solid red;
}


.HomeQueryCommentBar{

    width: 30px;
    background-color: orange;
    border-radius: 10px;
    font-weight: bold;
     height: 80%;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 5px;
     color: darkslategray;
     font-size: 13px;
    
}

.HomeQueryCommentBarText{
  writing-mode: vertical-rl;        /* or vertical-lr */
  
  text-orientation: sideways-left;
}

.HomeQueryMidSection{
    width: 100%;
}

.HomeQueryMidSectionRight{
    width: 100%;
    white-space: pre-line;
}


.HomeQueryMidSectionLeft{
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.HomeQueryMidSectionRightLongDesc{
padding: 10px;
    background: #0712126b;
    /* color: #ffffff; */
    font-weight: 300;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #1c3f58;
    box-shadow: 0 2px 6px rgb(0 0 0), 0 -6px 20px rgba(255, 140, 0, 0.02) inset;
    backdrop-filter: blur(4px);
    font-variation-settings: "wdth" 75;
}

.HomeQueryMidSectionRightLongDescHeading,.HomeQueryMidSectionRightLongDescHeading2{
    font-size: 17px;
    font-weight: bold;
    display: flex;
    gap: 5px;
    border-bottom: 1px solid ;
    color: orange;
    align-items: center;
    margin-bottom: 10px;
    background: linear-gradient(45deg, #FF9800, #ff0000, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-image: linear-gradient(to right, #FF9800, #000000) 1;
}

.HomeQueryMidSectionRightLongDescHeading2{
    margin-bottom: 0px;
    margin-top: 0px;
        background: linear-gradient(45deg, #FF9800, #ff0000, #FFEB3B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-image: linear-gradient(to right, #FF9800, #FFEB3B) 1;
}

.HomeSearchToken{
    background: black;
    border-radius: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;

}

.HomeSearchTokenContent{
    display: flex;
    border-radius: 10px;
    border: 1px solid white;
    gap: 10px;
    padding: 5px;
    background: linear-gradient(to bottom, #294c64, #112637);
    border: 2px solid #294c64;
        background: linear-gradient(to right, #294c64, #112637);
    border: 1px solid #294c64;
}

.HomeSearchTokenResult{
   width: 50px;
   height: 50px;
   border-radius: 10px;
   background-color: red;
   color: white;
   display: flex;
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6), 0 -6px 20px rgba(255, 140, 0, 0.02) inset;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.HomeSearchTokenNumber{
    font-size: 18px;
    font-weight: bolder;
    margin: 0;
    
}

.HomeSearchTokenDetails{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
}

.HomeSearchTokenName{
    font-variation-settings: "wdth" 70;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    align-items: center;
        color: #d5d0d0;

    
}

.HomeSearchTokenResultContent{
    color: orange;
    font-variation-settings: "wdth" 70;
    font-size: 14px;
}

.HomeSearchText{
    font-size: 12px;
    font-variation-settings: "wdth" 70;
    font-weight: bold;
}

.orangeContent{
   background : linear-gradient(to bottom, #f68401, #f684018f);
   color: white;
}

.redContent{
    background : linear-gradient(to bottom right, #f4511e 0%, #b71c1c 100%);
    color:white;
}

.pinkContent{
      background : linear-gradient(to bottom, #dc306f, #dc306f8a);
    color:white;  
}

.blueContent{
    background: linear-gradient(to bottom right, #1a36ff 0%, #3f6b8c70 100%);
    color: white;
}

.purpleContent{
       background: linear-gradient(to bottom right, #7127a8 0%, #7127a84d 100%);
    color: white; 
}

.taleContent{
    background: linear-gradient(to bottom right, #34a297 0%, #34a29780 100%);
    color: white;
}

.darkGreenContent{
     background: linear-gradient(to bottom right, #00944a 0%, #00944a78 100%);
    color: white;   
}

.HomeSearchCreateToken{
    display: flex;
    gap: 3px;
}

.HomeSearchCreateTokenName{
    flex:3;
    border: none;
    padding: 10px;

    background-color: black;
    color: grey;
    border : 1px solid white
}

.HomeSearchCreateTokenButton{
    color: white;
    background: orange;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    flex: 1;

}

.TokenWrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 75vh;
    overflow-y: scroll;
}