.HomeContainer{
    display: flex;
    gap: 10px;
    box-sizing: border-box;
    overflow-y: scroll;
}

.HomeButtons{
    width: 100%;
    display: flex;
    font-size: 13px;
    


}

.HomeLeftPage{
    flex: 6;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.HomeRecommendWrapper{
     flex: 3;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.HomeRecommended{
    flex: 3;
    height: 100vh;
    width: 100%;
}

.FriendsInnerContent{
    height: 100vh;
    width: 100%;
}

.HomeRecommendedHeading{
    background-color: #7b35c3;
    background: linear-gradient(to bottom, #7b35c3, #320060);
    border: 2px solid #7b35c3;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    color: white;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    font-weight: bold;
}

.HomeRecommendedHeading3{
 background-color: #7b35c3;
    background: linear-gradient(to bottom, #7b35c3, #320060);
    border: 2px solid #7b35c3;
    border-radius: 10px;
    display: flex;
    color: white;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    font-weight: bold;
}

.HomeRecommendedHeading2{
     display: flex;
    color: white;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    font-weight: bold;
    border: none;
}

.HomeButton{
    width: 20%;
    border: none;
    padding: 10px;
    color: darkslategray;
    font-weight: bold;
    display: block;
    width: 20%;
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    background-color: white;    
    
}



.HomeButtons > .HomeButton:not(:last-child) {
  border-right: 1px solid orange;
}


.HomeButtons > .HomeButton:first-child {
  /* styles only the first .HomeButton */
   border-radius: 10px 0 0 10px;
}

.HomeButtons > .HomeButton:last-child {
  /* styles only the first .HomeButton */
 border-radius: 0px 10px 10px 0px;
}

.ActiveButton{
    background-color: orange;
    color: white;

}

.HomeQuery{
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    border : 1px solid white
    

}


.HomeQueryImgProfile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.HomeQueryHeading{

    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
      background: linear-gradient(to bottom, #294c64, #112637);
    border: 2px solid #294c64;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    
}

.HomeUrFollower{
    background-color: orange;
    color: white;
    padding : 1px;
    border-radius: 4px;
    font-size: 13px;
}

.HomeUrContribution{
        background-color: green;
    color: white;
    padding: 1px;
    border-radius: 4px;
    font-size: 13px;
}

.HomeUrFriend{
    background-color: rgb(128, 0, 0);
    color: white;
    padding: 1px;
    border-radius: 4px;
    font-size: 13px;
}

.HomeUrFollower,.HomeUrFriend,.HomeUrContribution{
    display: flex;
    align-items: center;
    gap: 5px;
    background: linear-gradient(to bottom, #294c64, #112637);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6), 0 -6px 20px rgba(255, 140, 0, 0.02) inset;
    backdrop-filter: blur(4px);
    font-size: 12px;
    border: 2px solid #294c64;
    font-variation-settings: "wdth" 70;

}

.HomeQueryNameAndImg{
    display: flex;
    gap: 10px;
    align-items: center;
}

.HomeContriButionAndFollowers{
    display: flex;
    align-items: center;
    gap:10px;
    width: fit-content;
}

.HomeQueryNameSection{
    display: flex;
    flex-direction: column;
}

.HomeQueryDesign{
    font-size: 12px;
    font-weight: 200;
      font-variation-settings:
    "wdth" 75;
}


.HomeQueryTextInputs{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}


.HomeQueryTextInputsWrapper{
    width: 450px;
    background: #112939;
    border: 2px solid #294c64;
    padding: 10px;
    border-radius: 10px;
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.categoryHomeListItems{
    flex: 1;
    background-color: #112637;
     height: 70vh;
     padding: 10px;
     display: flex;
     gap: 10px;
     flex-direction: column;
     border: 2px solid #294c64;
     overflow-y: scroll;
}

.categoryContainerListItems{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
}


.textbox {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;

  border-radius: 5px;
  background-color: darkslategrey;
      background: #112637;  
  color: white;
  outline: none;

}

.textbox::placeholder{
    color: white;
    font-weight: 500;
    font-style: normal;
}

.HomeQueryShortDesc{
    padding: 10px;
    
    background-color: orange;
    color: darkblue;
    /* background: linear-gradient(to bottom, #294c64, #112637); */
    border: 2px solid #294c64;
    background-color: #7b35c3;
    background: linear-gradient(to bottom, #7b35c3, #320060);
    border: 2px solid #7b35c3;
    color: white;
    font-size: 13px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    gap: 4px;

    width: 100%;
    font-weight: 500;
    box-sizing: border-box;
}


.HomeQueryCategory{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    /* margin-top: 10px; */
    margin-bottom: 10px;
    background-color: darkslategrey;
    
    color: white;
    outline: none;
}

.HomeQueryCategoryAndLabel{
    /* display: flex; */
    gap: 10px;
}

.HomeQueryInfo{
    font-size: 12px;
     background-color: #36454f;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    
    color: white;
    display: flex;
    align-items: center;
    gap : 10px;
    width: fit-content
}

.HomeQueryCategoryCreate{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: white;
    font-weight: bold;
    font-size: 13px;
    color: darkslategray;
    border-radius: 10px;
    border: 1px solid white;
    min-width: 200px
}


.HomeRecommendedQuestion{
    background-color: #294c64;
    background: linear-gradient(to bottom, #294c64, #112637);
    color: lightskyblue;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 3px solid #294c64;
}

.FriendsInnerContentSection{
        background-color: #36454f;
    color: lightskyblue;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

.HomeRecommendedQuestionPara{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 5px;
      font-variation-settings:
    "wdth" 70;
}

.HomeRecommendedQuestionParaImg{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid darkslategray;
}

.HomeQueryPostSection{
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;
    height: 80vh;
}

.HomeQueryPost{
    
    background: linear-gradient(to bottom, #294c64, #112637);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 3px solid #294c64;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
}

.HomeQueryTopSectionProfileAndImg{
    display: flex;
    align-items: center;
    gap: 10px;

}

.HomeQueryTopSectionImg{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.HomeQueryTopSectionProfileDetail{
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-weight: 500;
}

.HomeQueryTopSectionProfileDesignation{
    font-size: 12px;
    font-weight: 100;
    font-variation-settings: "wdth" 75;
}

.PostHoriline{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}

.HomeQueryTopSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.HomeQueryMidSectionRightShortDesc{
    color: skyblue;
    font-variation-settings:
    "wdth" 70;
}


.HomeQueryMidSectionLogo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.HomeQueryMidSection{
    display: flex;
    align-items: center;
    gap: 10px;
}

.HomeQueryEndSection{
    display: flex;
    justify-content: space-between;

}

.HomeQueryEndSectionLeft{
    display: flex;
    gap: 20px;
    font-size: 13px;
    color: orange;
}

.HomeQueryEndSectionRight{
    display: flex;
    padding: 3px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    color: orange;
    font-size: 12px;
}

.HomeQueryEndSectionNumberCard{
      
    background-color: #343434;
    background: linear-gradient(to bottom, #294c64, #112637);
    border: 2px solid #294c64;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6), 0 -6px 20px rgba(255, 140, 0, 0.02) inset;
    backdrop-filter: blur(4px);
    padding: 3px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
}


.HomeQueryAndAns{
    width: 100%;
    height: 90vh;


    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;



}

.HomeQueryAndAnsSection{
    width: 100%;
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;
    overflow: scroll;
 
}



.HomeQueryAndAnsPost,.HomeAnsPost,.HomeAnsPostComment{
    
    background-color: #294c64;
    background: linear-gradient(to bottom, #294c64, #112637);
    border: 3px solid #294c64;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

.HomeAnsPost,.HomeAnsPostComment{
    border-radius: 0px;

}

.HomeQueryAnsSection{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.HomeQueryMidSectionAns{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    border-left: 4px solid green;
    border-radius: 10px;
    padding: 4px;
}

.HomeQueryMidSectionAnsComment{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 4px;
}

.negative{
   
    border-left: 4px solid red;
}


.HomeQueryCommentBar{

    width: 30px;
    background-color: orange;
    border-radius: 10px;
    font-weight: bold;
     height: 80%;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 5px;
     color: darkslategray;
     font-size: 13px;
    
}

.HomeQueryCommentBarText{
  writing-mode: vertical-rl;        /* or vertical-lr */
  
  text-orientation: sideways-left;
}

.HomeQueryMidSection{
    width: 100%;
}

.HomeQueryMidSectionRight{
    width: 100%;
    white-space: pre-line;
}


.HomeQueryMidSectionLeft{
    display: flex;
    flex-direction: column;
    align-items: center ;
}
