.NotificationMessageContainer{
    display: flex;
    gap: 10px;

    
}

.NotificationBox{
    display: flex;
    flex-direction: column;
    background-color: #36454f;
    gap: 10px;
    padding: 10px;
   
    border-radius: 10px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6), 0 -6px 20px rgba(255, 140, 0, 0.02) inset;
    gap: 10px;
    BORDER: 2PX SOLID BLACK;
    

}


.NoticationTrackcontainerLeft{
   flex: 2.3;
   display: flex;
   gap: 10px;
   flex-direction: column;
   
}


.NotificationLeft{
   flex: 1;
   width: 100%;
   padding: 0;
   margin: 0;
   display: flex;
   flex-direction: column;
   gap: 5px;
          height: 70vh !important;
    overflow-y: scroll;

   /* padding: 10px;
       background: rgba(0, 0, 0, 0.52);
    border-radius: 12px;
    border: 1px solid rgba(255, 140, 0, 0.06);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6), 0 -6px 20px rgba(255, 140, 0, 0.02) inset;
    backdrop-filter: blur(4px); */
}


.NotificationLeft2{
   flex: 1;
   width: 100%;
   padding: 0;
   margin: 0;
   display: flex;
   flex-direction: column;
   gap: 5px;
   padding: 10px;
       background: rgba(0, 0, 0, 0.52);
    border-radius: 12px;
    border: 1px solid rgba(255, 140, 0, 0.06);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6), 0 -6px 20px rgba(255, 140, 0, 0.02) inset;
    backdrop-filter: blur(4px);
    height: 90vh;
    overflow-y: scroll;
}

.NotificationRight{
   flex: 2;
      padding: 10px;
       background: rgba(0, 0, 0, 0.52);
    border-radius: 12px;
    border: 1px solid rgba(255, 140, 0, 0.06);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6), 0 -6px 20px rgba(255, 140, 0, 0.02) inset;
    backdrop-filter: blur(4px);
}

.NotificationLeftContainer{
    flex: 1;
    flex-direction: column;
    display: flex;
    gap: 10px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.52);
    border-radius: 12px;
    border: 1px solid rgba(255, 140, 0, 0.06);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6), 0 -6px 20px rgba(255, 140, 0, 0.02) inset;
    backdrop-filter: blur(4px);
    height: 88vh;

}