.Introdetailcommunitycontainer{
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    height: 100vh;
    display: flex;
    gap: 10px;
}

.IntroDetailCommunityLeftSide{
    flex: 2;
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.IntroDetailCommunityRightSide{
    flex: 1;

    height: 90vh;
}

.singleDetail2{
        background-color: #001bff30;
    border-radius: 10px;
    padding: 1px 1px;
    color: orange;
    display: flex;
    width: 48%;
    border: 2px solid #294c64;
    align-items: center;
    justify-content: space-between;
   
}

.details2{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    flex: 2;
}

.IntroDetails2{
    display: flex;
    gap: 5px;
}

.IntroImageIcon{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
}