.expertTrackOwnerprofileImgLoader{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #112637;
    
    border: 2px solid #294c64;
        padding: 3px;
    border: 2px solid orange;
    animation: pulse 1.5s infinite;
}

.NameLoader{
    width: 100px;
    height: 15px;
    border-radius: 5px;
        background-color: #112637;
        border: 2px solid #294c64;
    animation: pulse 1.5s infinite;
}

.DesignationLoader{
    width: 150px;
    height: 10px;
    border-radius: 5px;
        background-color: #294c64;
        border: 2px solid #112637;
    animation: pulse 1.5s infinite;
}

.expertTrackOwnerNameAndDesignationLoader{
    display: flex;  
    flex-direction: column;
    gap: 5px;
}


@keyframes pulse {
    0% {
        background-color: #112637;
    }
    50% {
        background-color: #294c64;
    }
    100% {
        background-color: #112637;
    }
}